@model IEnumerable<NNV.Models.Sednice>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vrsta_redovna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ucionica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zapisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Poziv)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vrsta_redovna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ucionica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zapisnik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poziv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID_Sednice }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID_Sednice }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID_Sednice })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
